*.suo
*.swp
*.user
*.pfx
*~
*.pdb

.vs/
packages/
ArkServerManager/bin/
ArkServerManager/obj/
ArkServerManager/publish/
ArkData/bin/
ArkData/obj/
NeXtVdf/bin/
NeXtVdf/obj/
Plugin.Common/bin/
Plugin.Common/obj/
Plugin.Discord/bin/
Plugin.Discord/obj/
Plugin.Discord/publish/
QueryMaster/bin/
QueryMaster/obj/
ServerManager.Common/bin/
ServerManager.Common/obj/
ServerManager.Updater/bin/
ServerManager.Updater/obj/
WPFSharp.Globalizer/bin/
WPFSharp.Globalizer/obj/
